.navbar-link-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}
.navbar-btn{
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    height: 30px;
    border-radius: 0.35em;
    width: 85px;
    justify-content: center;
    background-color: rgb(229, 9, 20);
    color: #fff !important; 
}
.navbar-link{
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}
.active{
    text-decoration: none;
    color: #ffffff !important;
}